<!DOCTYPE html>
<html>
    <head>
            <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
            <title>Rails App</title>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="title-box"><p id="title-box-text">I Like</p></div>
        <div class="content">
          <%= yield %>
          <p>On this site you can write what you like, and is possible to read others likes too.<p>
          <%= link_to 'Go to articles', controller: 'articles' %>
        </div>
        <div class="footer">
            <p id="copyright">Copyright © 2015 Jis</p>
        </div>
    </body>
</html>